.header__nav {
  display: flex;
  overflow: hidden;
}
.header__logo {
  flex: 1;
  background-color: var(--primary-color);
  display: flex;
  padding: 20px;
}
.header__logo h4 {
  color: #fff;
  font-family: var(--playfair-display);
  font-size: 24px;
  padding-left: 30px;
  text-transform: uppercase;
}
.header__menu {
  flex: 1.21;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 64px;

  padding: 20px;
}
.header__menu li a {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: var(--plus-jakarta-sans);
  color: black;
  line-height: 20px;
  cursor: pointer;
}
