.hero__section {
  min-height: calc(100vh - 72px);
  display: flex;
  overflow: hidden;
}

.hero__image {
  flex: 1;
  background-color: var(--primary-color);

  display: flex;
  flex-direction: column;
  position: relative;
}

.hero__image img {
  width: 120%;
  height: 100%;
  object-fit: contain;
}
.hero__image h2 {
  position: absolute;
  bottom: 0;
  padding: 20px;
  font-family: var(--playfair-display);
  font-weight: 700;
  font-size: 120px;
  line-height: 135px;
  color: white;
}
.hero__content {
  flex: 1.236;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hero__content-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px;
}
.hero__content-info h1 {
  font-size: 80px;
  font-family: var(--playfair-display);
  font-weight: 700;
  color: var(--secondary-color);
}
.hero__content-info p {
  font-size: 18px;
  font-family: var(--plus-jakarta-sans);
  margin: 32px 0px 32px 0px;
}
.hero__content-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 36px;
}
.hero__content-order-btn {
  padding: 20px;
  border-radius: 36px;
  border: none;
  background-color: var(--secondary-color);
  color: white;
  min-width: 212px;

  font-family: var(--plus-jakarta-sans);
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  cursor: pointer;
}
.hero__content-secondary-btn {
  display: flex;
  align-items: center;
  gap: 10px;

  font-family: var(--plus-jakarta-sans);
  font-size: 16px;
  list-style: 19px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.hero__content-testimonial {
  flex-wrap: wrap;
  gap: 20px;
  background-color: white;
  padding: 32px 64px;
  display: flex;
}
.hero__content-customer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 10px;
}
.hero__content-customer h4 {
  font-family: var(--playfair-display);
  font-size: 62px;
  font-weight: 400;
}
.hero__content-customer p {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--plus-jakarta-sans);
  color: var(--secondary-color);
  opacity: 0.5;
}
.hero__contant-review {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 10px;
  padding-left: 20px;
  border-left: 1px solid rgba(2, 2, 2, 0.1);
  min-width: 200px;
}
.hero__contant-review img {
  width: 42px;
  height: 42px;
  object-fit: contain;
}
.hero__contant-review p {
  font-family: var(--plus-jakarta-sans);
  font-size: 12px;
  font-weight: 400;
  line-height: 32px;
  color: var(--secondary-color);
  opacity: 0.8;
}
